/*
* @Author: lenovo
* @Date:   2017-08-17 16:01:24
* @Last Modified by:   lenovo
* @Last Modified time: 2017-12-18 09:41:30
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: : "微软雅黑","宋体",sans-serif;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
}
body{
	background: #ffffff;
}
img{
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
}